<section class="about-section">
    <h2>About Me</h2>
    <p>
      I am a software engineer specializing in standalone applications for Windows and Linux, industrial automation, and IoT connectivity. I design versatile solutions to integrate devices, build strong cloud-based IoT backends, and create intuitive frontend applications for managing devices. My focus is on bridging industrial systems with modern, connected technologies to deliver innovative and practical solutions.
    </p>
  </section>
  