<section class="hero-section">
    <div class="hero-content">
      <img src="profile_photo.jpg" alt="Kiran Khaire" class="profile-photo">
      <h1>Kiran Kisan Khaire</h1>
      <p>Full-Stack IoT Developer | Jr. Product Engineer</p>
      <!-- <button mat-raised-button color="primary" (click)="downloadResume()">View Resume</button> -->
      <button mat-raised-button color="accent" (click)="scrollToPortfolio()">Jump into Portfolio</button>
      <button mat-raised-button color="accent" (click)="scrollToContact()">Contact Me</button>
      <!-- <button mat-raised-button color="accent" (click)="contactMe()">Hire Me</button> -->
    </div>
  </section>
  