<section class="skills-section">
    <h2>Skills</h2>
  
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Languages & Libraries
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="skills-grid">
          <div class="skill-item">
            <mat-icon>code</mat-icon>
            <p>Python</p>
          </div>
          <div class="skill-item">
            <mat-icon>code</mat-icon>
            <p>Embedded C</p>
          </div>
          <div class="skill-item">
            <mat-icon>code</mat-icon>
            <p>JavaScript</p>
          </div>
          <div class="skill-item">
            <mat-icon>code</mat-icon>
            <p>TypeScript</p>
          </div>
          <div class="skill-item">
            <mat-icon>code</mat-icon>
            <p>SQL</p>
          </div>
          <div class="skill-item">
            <mat-icon>functions</mat-icon>
            <p>Numpy</p>
          </div>
          <div class="skill-item">
            <mat-icon>grid_on</mat-icon>
            <p>Pandas</p>
          </div>
          <div class="skill-item">
            <mat-icon>photo</mat-icon>
            <p>OpenCV</p>
          </div>
        </div>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Technologies & Tools
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="skills-grid">
          <div class="skill-item">
            <mat-icon>devices_other</mat-icon>
            <p>Raspberry Pi</p>
          </div>
          <div class="skill-item">
            <mat-icon>memory</mat-icon>
            <p>ESP32</p>
          </div>
          <div class="skill-item">
            <mat-icon>computer</mat-icon>
            <p>Linux</p>
          </div>
          <div class="skill-item">
            <mat-icon>lan</mat-icon>
            <p>Modbus (RTU/TCP)</p>
          </div>
          <div class="skill-item">
            <mat-icon>psychology</mat-icon>
            <p>Machine Learning</p>
          </div>
          <div class="skill-item">
            <mat-icon>code</mat-icon>
            <p>Git</p>
          </div>
          <div class="skill-item">
            <mat-icon>storage</mat-icon>
            <p>PostgreSQL</p>
          </div>
          <div class="skill-item">
            <mat-icon>build</mat-icon>
            <p>Docker</p>
          </div>
          <div class="skill-item">
            <mat-icon>sync</mat-icon>
            <p>Jenkins</p>
          </div>
          <div class="skill-item">
            <mat-icon>settings_applications</mat-icon>
            <p>Postman</p>
          </div>
        </div>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Frameworks & Platforms
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="skills-grid">
          <div class="skill-item">
            <mat-icon>web</mat-icon>
            <p>Angular</p>
          </div>
          <div class="skill-item">
            <mat-icon>layers</mat-icon>
            <p>Flask & FastApi</p>
          </div>
          <div class="skill-item">
            <mat-icon>cloud</mat-icon>
            <p>AWS & Render</p>
          </div>
          <div class="skill-item">
            <mat-icon>lock</mat-icon>
            <p>JWT, OpenID Connect</p>
          </div>
          <div class="skill-item">
            <mat-icon>public</mat-icon>
            <p>Cloudflare & Ngrok</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  